.container{
    max-width: 777px;   /*initial*/
    margin: 0 auto;
    background: #ffffff;
    font-size: 30px;
    padding: initial;

}

.scrollable {
    background: url('https://www.nasa.gov/sites/default/files/thumbnails/image/64884main_image_feature_211_jwfull.jpg') no-repeat center;
    background-size: cover;
    background-attachment: fixed;
    height: auto;
}