.container{
    max-width: 777px;
    margin 0 auto;
    background: #424e6d;
    font-size: 15px;
    padding: 18px;
}

.scrollable {
    background: url('https://www.nasa.gov/sites/default/files/thumbnails/image/64884main_image_feature_211_jwfull.jpg') no-repeat center;
    background-size: cover;
    background-attachment: fixed;
    height: 666px;
}